{% extends 'portal/index.html' %}
{% block content %}
  <h2>Buscar Twitter</h2>
  <p>
    Ferramente desenvolvida com o intuito de proporcionar um mecanismo de raspagem de dados
    para que sejam feitos estudos posteriores sobre os resultados.
  </p>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Conta de Usuário a ser buscada</label>
      <input
        placeholder="@usuario_a_ser_buscado"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">deixar em branco para não restringir usuário</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
{% endblock %}